# Database
DATABASE_URL="postgresql://breadcrumb:breadcrumb_secret@localhost:5432/breadcrumb_db"

# Redis
REDIS_URL="redis://localhost:6379"

# Auth
JWT_SECRET="this-is-my-random-jwt-secret-striiing"
JWT_EXPIRES_IN="7d"

# API
PORT=3001
NODE_ENV=development